body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 36px;
  margin: 0;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input-container input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  flex: 1;
}

.input-container button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  background-color: #007BFF;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.movie-grid:after {
  content: '';
  flex: auto;
}

/* Alinear las últimas dos películas a la izquierda si son solo dos en la última fila */
@media (min-width: 600px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .movie-grid > *:nth-last-child(-n + 2) {
    justify-self: start;
  }
}

.movie-card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.movie-card:hover {
  transform: translateY(-5px);
}

.movie-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.movie-card h3 {
  font-size: 18px;
  margin: 0;
}

.movie-card p {
  font-size: 14px;
  margin: 0;
  color: #888;
}

.loading {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #888;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
